  <template>
  <v-footer height="auto" class="white pa-3 app--footer">
    <span class="caption">Itec-16bit &copy; {{ new Date().getFullYear() }}</span>
    <v-spacer></v-spacer>
    <span class="caption mr-1">Make With Love</span>
    <v-icon color="pink" small>favorite</v-icon>
  </v-footer>
</template>

<script>
import menu from "../../router/menu";
export default {
  data() {
    return {};
  },
  computed: {}
};
</script>
